<html>
  <head>
    <title>Form</title>
  </head>
  <body>
    <form method="post" action="/new">
      <input type="text" name="messageUser" placeholder="name" />
      <input type="text" name="messageText" placeholder="text" />
      <button type="submit">Submit</button>
      <a href="/">Home</a>
    </form>
  </body>
</html>
